{% extends 'base.html.twig' %}

{% block title %}New Productos{% endblock %}

{% block body %}
<main>
    <h1>Create new Productos</h1>

    {{ include('productos/_form.html.twig') }}

    <a class="btn" href="{{ path('app_productos_index') }}">back to list</a>
</main>
{% endblock %}
