{% extends 'base.html.twig' %}

{% block title %}New Restaurantes{% endblock %}

{% block body %}
    <h1>Create new Restaurantes</h1>

    {{ include('restaurantes/_form.html.twig') }}

    <a href="{{ path('app_restaurantes_index') }}">back to list</a>
{% endblock %}
