{% extends 'base.html.twig' %}

{% block title %}New Pedidos{% endblock %}

{% block body %}
<main>
    <h1>Create new Pedidos</h1>

    {{ include('pedidos/_form.html.twig') }}

    <a class="btn" href="{{ path('app_pedidos_index') }}">back to list</a>
</main>
{% endblock %}
